<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.mapper.AboutusMapper">



    <resultMap id="Base_Aboutus_Map" type="com.sweet.domain.Vo.AboutusVo">
        <id property="aboutusId" column="aboutus_id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="introduction" column="introduction"/>
        <collection property="aboutusMsgs" ofType="com.sweet.domain.entity.AboutusMsg"
                    resultMap="com.sweet.mapper.AboutusMsgMapper.Base_AboutusMsg_Map"/>
    </resultMap>

    <sql id="base_sql">
        a.aboutus_id,a.title,a.image,a.introduction,m.aboutus_id,m.aboutus_msg_id,
        m.all_msg,m.chat_msg,m.expect_msg,m.team_msg,m.main_msg
    </sql>


    <select id="findById" resultMap="Base_Aboutus_Map">
        SELECT <include refid="base_sql"/>
        from t_aboutus a left JOIN t_aboutus_msg m ON a.aboutus_id=m.aboutus_id
        where a.aboutus_id= #{aboutusId}
    </select>

    <!--<select id="findAll" resultMap="Base_Aboutus_Map">-->
        <!--SELECT <include refid="base_sql"/>-->
        <!--from t_aboutus a left JOIN t_aboutus_msg m ON a.aboutus_id=m.aboutus_id-->
    <!--</select>-->

</mapper>