<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.mapper.BannerMapper">


    <select id="findAll" resultType="com.sweet.domain.entity.Banner">
        SELECT tb.image
        from t_banner tb
        where status=1 ORDER by tb.banner_order desc
    </select>

</mapper>